@import './reset.scss';
@import './common.scss';
@import './index-layout.scss';
@import '../module/header/header.scss';


body{
	color: #000;
	word-wrap: break-word;
}

.page{
	width: 100%;
    height: 100%;
    font-size: 12px;
}